/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.env.local
/.phpunit.result.cache

###> friendsofphp/php-cs-fixer ###
# Fichiers et configurations de PHP-CS-Fixer
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> squizlabs/php_codesniffer ###
# Fichiers liés à PHP_CodeSniffer
/.phpcs-cache
###< squizlabs/php_codesniffer ###