<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    stopOnFailure="false">

    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" />
        <server name="APP_DEBUG" value="1" />
        <server name="KERNEL_CLASS" value="App\\Kernel" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
    </testsuites>

    <!-- zone de code à analyser -->
    <source>
        <include>
            <directory suffix=".php">src/Entity</directory>
            <directory suffix=".php">src/Security</directory>
        </include>

        <exclude>
            <file>src/Security/LoginFormAuthenticator.php</file>
        </exclude>
    </source>

    <!-- rapports + option pour compter les fichiers non exécutés -->
    <coverage includeUncoveredFiles="true">
        <report>
            <text outputFile="php://stdout" />
            <html outputDirectory="build/coverage" />
        </report>
    </coverage>

    <extensions>
        <bootstrap class="RobinIngelbrecht\PHPUnitCoverageTools\PhpUnitExtension">
            <parameter name="exitOnLowCoverage" value="1" />
        </bootstrap>
    </extensions>

</phpunit>