{# templates/partials/_footer.html.twig #}
<div class="container mt-5">
  <hr>
  <footer class="py-4 text-center">
    <p class="text-muted mb-0">Copyright &copy; OpenClassrooms</p>
  </footer>
</div>
