<div class="row mb-4">
  <div class="col-md-12 text-center">
    {# Bloc image, overridable par chaque page #}
    {% block header_img %}
    <img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">
    {% endblock %}
  </div>
</div>
