{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center mt-5">
        <h1 class="display-4">Accès refusé</h1>
        <p class="lead">Vous n'avez pas la permission d'accéder à cette ressource.</p>
        <a href="{{ path('task_list') }}" class="btn btn-primary mt-3">Retour à la liste des tâches</a>
    </div>
{% endblock %}
